<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="tech.vishnu.fowllaguagecomics"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.fowllaguagecomics.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.fowllaguagecomics.android.permission.C2D_MESSAGE" />

    <application
        android:name="com.fowllanguagecomics.android.FLCApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.fowllanguagecomics.android.ui.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.fowllanguagecomics.android.ui.activities.ComicsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar">>
        </activity>
        <activity
            android:name="com.fowllanguagecomics.android.ui.activities.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.ActionBar">>
        </activity>
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.fowllaguagecomics.android" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.fowllanguagecomics.android.PushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c99ad29cabdc36270c2cb99dc07f07f4ebae41e0" />
    </application>

</manifest>
